<div
  class="grid mx-1 mt-5 hover:shadow-4 hover:border-700 border-round-lg transition-duration-300 pl-2"
>
  <div class="col-12">
    <img class="logo" [src]="logo" />
    <br />
    <strong>{{ title }}</strong> · <strong>{{ company }}</strong>
    <br />
    {{ startYear }} — {{ endYear }} <br /><br />
    <small>
      {{ description }}
    </small>
    <br />
    <br />
    <a [href]="link" target="_blank" class="text-white cursor-pointer">
      Visit company
    </a>
    <br /><br />
    <p-chip
      *ngFor="let tech of technologies"
      [label]="tech.name"
      styleClass="text-xs mr-1 mt-1 bg-transparent text-200 border-1"
    ></p-chip>
  </div>
</div>
